In [1]:
import pandas
import numpy as np
tmdb_df = pandas.read_csv('tmdb_5000_movies.csv')

In [2]:
tmdb_df = tmdb_df.drop(columns = ['homepage','id','production_companies','keywords','overview','tagline','status', 'original_title','spoken_languages'])

In [3]:
tmdb_df = tmdb_df.dropna()

In [4]:
def trim_genres(genres):
    g_list = []
    b = 0
    a = 0
    while (a != -1 and b != -1):
        a = genres.find("name")
        b = genres.find("}")
        g_list.append(genres[a+8:b-1])
        genres = genres [b+1:]
        if (len(genres) == 1):
            break
    g_list.sort()
    return g_list

In [5]:
tmdb_df.head(3)

,budget,genres,original_language,popularity,production_countries,release_date,revenue,runtime,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",en,150.437577,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",en,139.082615,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",en,107.376788,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,Spectre,6.3,4466

In [6]:
tmdb_df['genres'] = tmdb_df['genres'].apply(trim_genres)
tmdb_df['production_countries'] = tmdb_df['production_countries'].apply(trim_genres)
tmdb_df['genres'] = tmdb_df['genres'].apply(tuple)
tmdb_df['production_countries'] = tmdb_df['production_countries'].apply(tuple)

In [7]:
tmdb_df.head(3)

,budget,genres,original_language,popularity,production_countries,release_date,revenue,runtime,title,vote_average,vote_count
0,237000000,"(Action, Adventure, Fantasy, Science Fiction)",en,150.437577,"(United Kingdom, United States of America)",2009-12-10,2787965087,162.0,Avatar,7.2,11800
1,300000000,"(Action, Adventure, Fantasy)",en,139.082615,"(United States of America,)",2007-05-19,961000000,169.0,Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"(Action, Adventure, Crime)",en,107.376788,"(United Kingdom, United States of America)",2015-10-26,880674609,148.0,Spectre,6.3,4466

In [8]:
tmdb_df2 = pandas.read_csv('movies_metadata.csv')

/Users/chengcheng/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
tmdb_df2.shape

(45466, 24)

In [10]:
tmdb_df2 = tmdb_df2.drop(columns = ['adult','belongs_to_collection','homepage', 'id', 'imdb_id','status', 'tagline','video','original_title','poster_path','production_companies','spoken_languages' ])
tmdb_df2 = tmdb_df2.dropna()

In [11]:
tmdb_df2['genres'] = tmdb_df2['genres'].apply(trim_genres)
tmdb_df2['production_countries'] = tmdb_df2['production_countries'].apply(trim_genres)
tmdb_df2['genres'] = tmdb_df2['genres'].apply(tuple)
tmdb_df2['production_countries'] = tmdb_df2['production_countries'].apply(tuple)

In [12]:
tmdb_df2 = tmdb_df2.drop(columns = ['overview'])

In [13]:
tmdb_df2.head(3)

,budget,genres,original_language,popularity,production_countries,release_date,revenue,runtime,title,vote_average,vote_count
0,30000000,"(Animation, Comedy, Family)",en,21.9469,"(United States of America,)",1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0
1,65000000,"(Adventure, Family, Fantasy)",en,17.0155,"(United States of America,)",1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0
2,0,"(Comedy, Romance)",en,11.7129,"(United States of America,)",1995-12-22,0.0,101.0,Grumpier Old Men,6.5,92.0

In [14]:
tmdb_df2 = tmdb_df2.fillna(0)
tmdb_df2.budget = tmdb_df2.budget.astype(np.int64)
tmdb_df2.popularity = tmdb_df2.popularity.astype(np.float64)
tmdb_df2.revenue = tmdb_df2.revenue.astype(np.int64)
tmdb_df2.vote_count = tmdb_df2.vote_count.astype(np.int64)

In [15]:
merge_df = pandas.merge(tmdb_df,tmdb_df2,on = ['budget','genres','original_language','popularity','production_countries','release_date','revenue','runtime','title','vote_average','vote_count'] , how = 'outer')

In [16]:
merge_df.shape

(49225, 11)

df.to_csv(file_name, sep='\t')

In [17]:
merge_df = merge_df[merge_df['revenue'] != 0]

In [18]:
merge_df = merge_df.drop_duplicates(subset = 'title', keep = 'first')

In [19]:
merge_df.shape

(7239, 11)

In [20]:
merge_df=merge_df[['title','genres','original_language','production_countries','release_date','runtime','popularity','vote_count','vote_average','budget','revenue']]

In [21]:
merge_df.head(3)

,title,genres,original_language,production_countries,release_date,runtime,popularity,vote_count,vote_average,budget,revenue
0,Avatar,"(Action, Adventure, Fantasy, Science Fiction)",en,"(United Kingdom, United States of America)",2009-12-10,162.0,150.437577,11800,7.2,237000000,2787965087
1,Pirates of the Caribbean: At World's End,"(Action, Adventure, Fantasy)",en,"(United States of America,)",2007-05-19,169.0,139.082615,4500,6.9,300000000,961000000
2,Spectre,"(Action, Adventure, Crime)",en,"(United Kingdom, United States of America)",2015-10-26,148.0,107.376788,4466,6.3,245000000,880674609

In [22]:
merge_df.to_csv('trimmed_data.csv')